:root {

    --first-color: #2c351c;
    --second-color: #1a1f12;
    --body-color: #ffe4c8;
    --color-text-light: #8e8e8e;
    --border-radius: 12px;
    --text-size: 35px;
    --space-item: 20px;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body {
    height: 100dvh;
    background-color: var(--body-color);
    display: grid;
    place-content: center;
    
}
.central {
    width: 750px;
    height: 500px;
    display: flex;
    animation-name: animar;
    animation-duration: 2s;
   
   
   
}
.central article {
    width: 50%;
    height: 100%;
}

.image {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background: transparent url("../images/image-product-desktop.jpg") no-repeat center center;
    background-size: cover;
}

.content {
    background-color: #fff;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding: 36px;
    display: flex;
    flex-direction: column;
   
    gap: 16px; 
}
 .content strong{
    font-size: var(--text-size);
    margin-bottom: var(--space-item);
 }

#titulo {
    text-transform: uppercase;
}

#titulo span{
    margin-left: 5px;
    margin-right: 5px;
}

.tipoDeLetra{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text-light);

}

#adicionar-cart {
    padding: 20px;
    border: 0px;
    outline: 0px;
    margin-top:px ;
    background-color: var(--first-color);
    border-radius: var(--border-radius);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#icon{
    
    margin-right: 15px;
}

#adicionar-card:hover{
    background-color: var(--second-color);
    cursor: pointer;
}
#conter-preco{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: var(--space-item);
}

#preco{
    color: var(--first-color);
    font-size: var(--text-size);
    margin-right: var(--space-item);
    font-family: sans-serif;
}

#preco2{
    text-decoration: line-through;
    color: var(--color-text-light);
    font-family: sans-serif;
}

@media screen and (max-width: 300px) {
    .central {
        flex-direction: column;
    }
    
}
@keyframes animar {
    from{
        transform: translateY(1000px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
       
    }
}
